@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root{
	--mainBackgroundColor:aliceblue;
	--cardColor:#fff;
	--headerColor:#000;
	--white: #fafafa;
    --grey: #717171;
    --medium-grey: #dbdbdb;
    --strong-grey: #545454;
    --header-color: #fff;
    --text-color:#262626;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}
body{
	background: var(--mainBackgroundColor);
}
.container{
	padding-top:5% ;
	width: 33%;
    margin: 0 auto;
}
.chat__body{
	background: #fff;
}
.base-container {
  width: 100%;
  overflow-y: scroll;
    height: 70vh;
}
.friend-text-div {
  display: flex;
  margin-left: 0.5rem;
}

.friend-text-div > img {
  height: 2rem;
  align-self: flex-end;
}

.friend-text-container {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.friend-text {
  background: #262626;
  border-radius: 0.5rem;
  color: #fff;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}

.my-text-div {
  display: flex;
  justify-content: flex-end;
}
.my-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-text {
  background: linear-gradient(
      180deg,
      rgba(139, 47, 184, 1) 0%,
      rgba(103, 88, 205, 1) 51%,
      rgba(89, 116, 219, 1) 92%
    )
    no-repeat center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
}

.my-text-container > div:first-child {
  border-radius: 0.5rem 1rem 0.2rem 0.5rem;
}
.my-text-container > div:last-child {
  border-radius: 0.5rem 0.2rem 1rem 0.5rem;
}
.friend-text-container > div:first-child {
  border-radius: 1rem 0.5rem 0.2rem 0.5rem;
}
.friend-text-container > div:last-child {
  border-radius: 0.5rem 0.2rem 0.5rem 1rem;
}
.input-msg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid var(--medium-grey);
}
.input-msg i {
  color: var(--grey);
  padding: 1px 6px;
  height: 30px;
  font-size: 1.5em;
  cursor: pointer;
}
#send-input {
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--grey);
  width: 80%;
}
.header-profile{
  display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    border-top: 1px solid var(--medium-grey);
    border-bottom: 1px solid #f7f7f7;
    padding: 3px 0px;
}